/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;

  .round {
    visibility: inherit;
  }

  .header__theme-menu-button {
    color: var(--accent-color);
  }

  .header__theme-menu-button:hover {
    border: solid 1px #FF007066;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: solid 1px var(--accent-color);
  }

  .header__theme-menu-button_active {
    pointer-events: none;
    border: solid 1px var(--accent-color);
  }

  .header__decor-element {
    display: block;
    color: var(--accent-color);
    visibility: inherit;
  }

  .header__decor-element::after {
    content: '';
    position: absolute;
    display: block;
  }

  .decorated-zone::before {
    border: solid 1px var(--accent-color);
    border-bottom: none;
    border-left: none;
  }

  .decorated-zone::after {
    border: solid 1px var(--accent-color);
    border-top: none;
    border-right: none;
  }

  .title-decor {
    color: var(--background-color);
  }

  .section__title {
    color: var(--accent-color);
  }
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

