/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  background-color: transparent;
  border: none;
  font-size: 1.125rem;
  color: var(--accent-color);
  line-height: 100%;
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color);
}

.header__title {
  grid-column: 1;
  grid-column-end: auto;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: #DB00FF;
  font-weight: 700;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color); 
}
/*достилизовать параграф заголовка и псевдоэлементы*/

