/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.header__decor-element {
  color: var(--accent-color);
  text-align: end;
  margin-inline-end: 1.75rem;
  line-height: 130%;
}

.header__decor-element::after {
  content: '';
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  top: 18px;
  right: 19px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border: solid 1px var(--accent-color);
  border-bottom: none;
  border-left: none;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: '';
  display: block;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: solid 1px var(--accent-color);
  border-top: none;
  border-right: none;
  bottom: 10px;
  left: 10px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  padding: 1.5px 13px;
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  line-height: 100%;
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color);
}

.title {
  grid-column: 1;
  grid-column-end: auto;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: #DB00FF;
  font-weight: 700;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color); 
}

.title-decor {
  display: block;
  block-size: fit-content;
  inline-size: 100%;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 130%;
  text-wrap-style: pretty;
}

.title-decor__no-bold {
  font-weight: 400;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin: 40px 0;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 10px;
  gap: 20px;
}

.section:last-of-type {
  gap: 10px;
}

.section__title {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--accent-color);
  line-height: 130%;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.card__text {
  color: var(--text-color);
  line-height: 130%;
}

.text-link {
  text-decoration: none;
  text-shadow: 1.5px 1.5px var(--accent-color);
}

.text-link:hover {
  border-block-end: solid 1px var(--text-color);
}

.text-link:focus-visible {
  outline: solid 1px var(--text-color);
}

.section__image  {
  inline-size: 100%;
}
.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}


