:root {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
}


/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
